*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: #fff;
  height: 100vh;
  font-family: montserrat, sans-serif;
  background: center / cover no-repeat url('./ressources/citynight.jpg')
}
nav{
  font-family: roboto, sans-serif;
  padding: 0.5rem 1rem;
  left: 0; right:0; top: 0;
}
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;;
  gap: 1rem;
  text-transform: uppercase;
}
nav ul li a{
  color: #fff;

  text-decoration: none;
  font-size: 1.25rem;
  border-bottom: 1px solid lightblue;
}

.container{
  margin: 5rem 2rem;
}

.container h1{
  padding-bottom: .50rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
}
.container h2{
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.start-live{
  border: none;
  border-radius: .15rem;
  padding: .25rem 3.25rem .25rem .75rem;
  text-transform: uppercase;
  font-family: montserrat, sans-serif;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.start-live::before{
  content:'';
  display: inline-block;
  position: absolute;
  top: 0; left:0;
  width: 100%;
  height: 100%;
  box-shadow: .3rem .5rem 1rem rgba(255, 255, 255, 15%);
  z-index: -1;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}
.start-live:hover::before{
  opacity: 1;
}
.start-live::after{
  content:'';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: center / cover no-repeat url(./ressources/streaming.svg);
  position: relative;
  right: -2.75rem;
}
.see-more{
  height: 5rem;
  width: 5rem;
  display: block;
  position: absolute;
  bottom: 1rem;
  left: calc(50% - 2.5rem);
  border: solid 2px #fff;
  border-radius: 5rem;
  background: center / 60% no-repeat url(./ressources/chevron-down.svg), #fff;
  cursor: pointer;
  box-shadow: 0 0 0 0 #fff;
  animation: pulse 1.3s ease-in-out infinite;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 1rem rgba(255, 255, 255, .01);
  }
}

