*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 400px;
    height: 400px;
    margin: 100px auto;
}

.c1 {background: salmon;}
.c2 {background: lightblue;}
.c3 {background: lightgreen;}
.c4 {background: khaki;}
.c5 {background: sandybrown;}
.c6 {background: slateblue;}


/*
Trouve 6 façons de parfaitement centrer
un élément sur x & y.
Horizontalement et Verticalement.
*/

/* 1 Positions */

.c1 {
  position: relative;
}
.c1 h1 {
  position: absolute;
  display: inline-block;
  right: 50%;  top: 50%;
  transform: translate(50%, -50%);
}


/* 2  Flexbox */

.c2 {
  display : flex;
  justify-content: center;
  align-items: center;
}


/* 3 The h1 fits all the parent */

.c3 {
  position: relative;
}
.c3 h1{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  text-align: center;
  line-height: 400px;
}


/* 4 Jouer avec le padding */

.c4 {
}
.c4 h1 {
  text-align: center;
  padding: calc(200px - .5rem) 0;
}


/* 5 Grid  because lol why not ?*/

.c5 {
  display: grid;
}
.c5 h1 {
  grid-column: 1fr;
  justify-self: center;
  align-self: center;
}


/* 6 */

.c6 {
  display: flex;
}
.c6 h1 {
  margin: auto;
} 



